@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import @flaticon; */

/* @import url('/node_modules/@flaticon/flaticon-uicons/css/all/all.css'); */
/* 
@import url('/node_modules/font-awesome/css/font-awesome.css');
@import url('/node_modules/font-awesome/css/font-awesome.min.css');
@import url('/node_modules/font-awesome/css/font-awesome.css.map');
@import url('/node_modules/font-awesome/fonts/fontawesome-webfont.svg'); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
} */


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('./fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face{
  font-family: 'Poppins';
  font-style: normal;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: medium;
  src: url('./fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}


.number{
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 600;
}





.imgtemp{
  width:100px;
}

.img-central{

  width: 46%;
  max-width: 749px;
  height: 50%;
  display:inline-block;


}

.bg-wave{
  position: absolute;
  z-index: -1;
  top: 0;
}


.text-img-center {
  margin-left: 50px;
  width: 30%;
  display: inline-block;
  text-align: left;
  /* font-size: 35px; */

}

.text-img-center h1{
  font-size: 36px;
}

.color-blue{
  color:#0994dc;
}

#ti {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #0994dc;
  padding: 30px 30px;
}

.why{
  font-family: 'Open sans', san-serif;
  font-size: 36px;
  line-height: 40px;
  color:#0994dc;
}

 
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 40px;
  color:black;
} 


h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25rem;
  font-weight:700;
  color: #0994dc;

}

h3{
  margin-top: 0;
  font-size:1.375rem
}

body{
  font-family: 'Open sans', sans-serif;
}


.logonavbar{
  max-height: 75px;
  display: inline-block;
}
.nav-center{
  display: inline-block;
  margin: 0px 100px 0px 100px;
}
.navbar{
  text-align: center;
}
.nav-link{
  margin-left:10px;
  color:white;
  font-weight: bold !important;
  font-size: 16px;
  display: inline-block;
  
}
.titleDemo{
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-size: 32px !important;
}


.cont-img-center{
  text-align: center;
}


.btnDemo{
  text-align: left;
  padding: 15px;
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.btnDemo-center{
  text-align: center;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
  padding: 11px 27px;
  color: white;
  background-color: #0994dc;
}


.stat-bar{

  background-color: #0994dc;
  text-align: center;
  
}
.stat-title{
  line-height: 1.4;
  font-family: Open Sans, sans-serif;
}

.stat{
  vertical-align: top;
  width: 30%;
  margin-left: 30px;
  color:white;
  display: inline-block;
  font-weight: 500;
}

.stat h3{
  font-weight: 500;
}
.stat-icon{

  font-size:3.5rem;
}

.soluce h3{
  font-family: 'Open sans', sans-serif;
  padding: 55px 40px 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(138, 138, 138);

} 


.soluce i{
  font-size: 3.5rem ;
  color:#0994dc;
}

.soluce a{
  text-align: center;
  padding: 55px 40px 50px !important;
  /* color: #0994dc !important; */
  padding: 0px !important;
  margin: 0px !important;

}

.soluce .flaticon-next{
  color:#0994dc !important;
}

.soluce-title {
  
  display: grid;
  text-align: center;
  color: black !important;
 
  font-family: 'Open sans', sans-serif !important;
  font-size: 22px !important;
  line-height: 34px !important;
  font-weight: 600 !important;
}

.solution-bar{

}

.soluce{
  width: 28%;
  height: 38%;
  display: inline-block;
  /* display: grid; */
  border: 1px solid rgb(192, 192, 192);
  margin: 30px;
  
}

.why-bar{



}

.why-bar i{
  font-size: 5rem ;
  color:#0994dc;
}


.why-bar h1{

  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: black;
}

.why-bar .icon-text{
  display: inline-block;
  vertical-align: top;
  width: 24%;
}

svg{
  
  position: absolute;
  z-index: -1;
}

.svg-pointille{
  display: inline-block;
  transform: translate(-50%, 0);
}
.pointille{
  text-align: center;

}

hr{
  border-top: dashed 1px #0994dc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.circleBox{
  padding: 20px;
  box-shadow: 0 0 1.5625rem 0 rgba(54, 186, 254, 0.1);
  border-radius: 100%;
  background: white;
  width: 150px;
  height: 150px;
  padding-top: 35px;

}

.stat-bar-bis{
  color:#0994dc;
  background-color: white; 

}

.stat-bar-bis .stat-des{
  display: inline-block;
  width: 20%;
}

.stat-des .number{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 2.25rem;
}

.stat-bar-bis .img-stat{

  font-size: 3.5rem !important;
  color:#0994dc !important;
}

.stat-bar-bis h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375;
  line-height: 1.4;
  font-weight: 500;
  color:#0994dc;
}

.logo-bar img{
  width: 10%;
  display: inline-block;
}


footer{

  background-color:#0994dc;
  color: white !important;
  text-align: center;
}


footer .col-footer{
  display: inline-block;
  width: 20%;

}

footer ul{
  list-style: disc inside none;
}

footer h1{
  display: grid;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  color: white;
}


footer li{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;

}

footer a{

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

footer .copyright{
  /* background-color: #6EC1E4;; */
  font-size: 11px !important;

  background-color : #cee9f8;
  color: #636363;
}